.App {
  text-align: center;
}
.App-header {
  background-color: white;
  text-align: center;
  color: #282c34;
}
.float-left{
  position:absolute;
  float: left;
  margin-left:65px;
}
.float-right{
  margin-right: 23px;
}
.settings{
  margin-top: 6px;
  margin-right: -296px;
}

.App-link {
  color: #61dafb;
}
