@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
.App {
  text-align: center;
}
.App-header {
  background-color: white;
  text-align: center;
  color: #282c34;
}
.float-left{
  position:absolute;
  float: left;
  margin-left:65px;
}
.float-right{
  margin-right: 23px;
}
.settingsDiv{
  position: relative;
}
.settings{
  position: absolute;
  top: 0;
  left: 0;
  height: 11rem;
  width: 13rem;
  opacity: 0;
}
.card{
  height: 11rem;
  width: 13rem;
}

.App-link {
  color: #61dafb;
}

.test{
  height: 200px;
  overflow-y:scroll;
}

.font{
  font-family: 'Orbitron', sans-serif;
}

